workflow/job-automation.json
{
  "name": "Job Automation - Discovery + Outreach + Follow-up + Reset",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "76f3f741-1f6f-40e4-a5cf-f350c89338c1",
      "name": "Trigger: 8AM Job Discovery",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst config = {\n  groqKeys: [\n    \"gsk_GROQ_KEY_1_PLACEHOLDER\",\n    \"gsk_GROQ_KEY_2_PLACEHOLDER\",\n    \"gsk_GROQ_KEY_3_PLACEHOLDER\",\n    \"gsk_GROQ_KEY_4_PLACEHOLDER\"\n  ],\n  geminiKeys: [\n    \"GEMINI_KEY_1_PLACEHOLDER\",\n    \"GEMINI_KEY_2_PLACEHOLDER\",\n    \"GEMINI_KEY_3_PLACEHOLDER\",\n    \"GEMINI_KEY_4_PLACEHOLDER\"\n  ],\n  rapidApiKeys: [\n    \"RAPIDAPI_KEY_1_PLACEHOLDER\",\n    \"RAPIDAPI_KEY_2_PLACEHOLDER\",\n    \"RAPIDAPI_KEY_3_PLACEHOLDER\",\n    \"RAPIDAPI_KEY_4_PLACEHOLDER\"\n  ],\n  findworkKeys: [\n    \"FINDWORK_KEY_1_PLACEHOLDER\",\n    \"FINDWORK_KEY_2_PLACEHOLDER\",\n    \"FINDWORK_KEY_3_PLACEHOLDER\",\n    \"FINDWORK_KEY_4_PLACEHOLDER\"\n  ],\n  groqDailyLimit: 14400,\n  geminiDailyLimit: 1000,\n  rapidApiMonthlyLimit: 500,\n  findworkMonthlyLimit: 50,\n  userEmailDailyLimit: 50,\n  scoreThreshold: 60,\n  freshnessMaxDays: 14\n};\nreturn [{ json: config }];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "a68bf482-bc4f-4103-82d4-1d751ddaf252",
      "name": "Backend Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst userProfile = {\n  name: \"YOUR_NAME\",\n  email: \"your.email@gmail.com\",\n  skills: [\"JavaScript\", \"TypeScript\", \"React\", \"Node.js\", \"Python\", \"AWS\"],\n  keywords: \"software engineer remote\",\n  resumeUrl: \"https://drive.google.com/file/d/YOUR_FILE_ID/view\",\n  telegramChatId: \"YOUR_TELEGRAM_CHAT_ID\",\n  linkedinUrl: \"https://linkedin.com/in/yourprofile\",\n  portfolioUrl: \"https://yourportfolio.com\",\n  currentRole: \"Software Engineer\",\n  experience: \"3 years\"\n};\nreturn [{ json: userProfile }];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "1d3a59af-7364-466d-8412-a8bb3b863dde",
      "name": "User Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nconst config = $input.first().json;\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Initialize if new day or first run\nif (!staticData.rotationDate || staticData.rotationDate !== today) {\n  staticData.rotationDate = today;\n  staticData.groqIndex = 0;\n  staticData.geminiIndex = 0;\n  staticData.groqCounts = [0, 0, 0, 0];\n  staticData.geminiCounts = [0, 0, 0, 0];\n  staticData.rapidApiIndex = 0;\n  staticData.findworkIndex = 0;\n  staticData.rapidApiCounts = [0, 0, 0, 0];\n  staticData.findworkCounts = [0, 0, 0, 0];\n  staticData.aiCallsToday = 0;\n}\n\n// Forward-only AI rotation: groq1->2->3->4 then gemini1->2->3->4 then exhausted\nlet aiKey = null;\nlet aiProvider = 'exhausted';\nlet aiUrl = '';\nlet aiModel = '';\n\n// Try Groq keys first (forward only)\nfor (let i = staticData.groqIndex; i < 4; i++) {\n  if (staticData.groqCounts[i] < config.groqDailyLimit) {\n    aiKey = config.groqKeys[i];\n    aiProvider = 'groq';\n    aiUrl = 'https://api.groq.com/openai/v1/chat/completions';\n    aiModel = 'llama-3.1-70b-versatile';\n    staticData.groqIndex = i;\n    break;\n  }\n  staticData.groqIndex = i + 1;\n}\n\n// If all Groq exhausted, try Gemini (forward only)\nif (aiProvider === 'exhausted') {\n  for (let i = staticData.geminiIndex; i < 4; i++) {\n    if (staticData.geminiCounts[i] < config.geminiDailyLimit) {\n      aiKey = config.geminiKeys[i];\n      aiProvider = 'gemini';\n      aiUrl = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent';\n      aiModel = 'gemini-1.5-flash';\n      staticData.geminiIndex = i;\n      break;\n    }\n    staticData.geminiIndex = i + 1;\n  }\n}\n\n// RapidAPI key rotation (forward only)\nlet rapidApiKey = null;\nfor (let i = staticData.rapidApiIndex; i < 4; i++) {\n  if (staticData.rapidApiCounts[i] < config.rapidApiMonthlyLimit) {\n    rapidApiKey = config.rapidApiKeys[i];\n    staticData.rapidApiIndex = i;\n    break;\n  }\n  staticData.rapidApiIndex = i + 1;\n}\n\n// Findwork key rotation (forward only)\nlet findworkKey = null;\nfor (let i = staticData.findworkIndex; i < 4; i++) {\n  if (staticData.findworkCounts[i] < config.findworkMonthlyLimit) {\n    findworkKey = config.findworkKeys[i];\n    staticData.findworkIndex = i;\n    break;\n  }\n  staticData.findworkIndex = i + 1;\n}\n\nreturn [{ json: {\n  aiKey, aiProvider, aiUrl, aiModel,\n  rapidApiKey, findworkKey,\n  groqIndex: staticData.groqIndex,\n  geminiIndex: staticData.geminiIndex,\n  rapidApiIndex: staticData.rapidApiIndex,\n  findworkIndex: staticData.findworkIndex,\n  ...config\n}}];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "aefadb72-87cf-4cff-be9b-18289e318a79",
      "name": "AI Key Rotation Manager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -200
      ]
    },
    {
      "parameters": {
        "url": "={{$('User Profile').item.json.resumeUrl.replace('https://drive.google.com/file/d/', 'https://drive.google.com/uc?export=download&id=').replace('/view', '').replace(/\\/view.*$/, '')}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "31181661-b34a-44b1-bd52-6aafb4a1cf93",
      "name": "Download Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nconst rotation = $('AI Key Rotation Manager').first().json;\nconst resumeText = $input.first().json.data || $input.first().json.body || \"Resume content unavailable\";\n\nlet parsed = { skills: [], experience: [], projects: [], achievements: [] };\n\nif (rotation.aiProvider === 'exhausted') {\n  // Fallback: return user profile skills\n  const profile = $('User Profile').first().json;\n  parsed.skills = profile.skills || [];\n  // Cache parsed resume in staticData for 9AM outreach access\nstaticData.parsedResume = parsed;\nreturn [{ json: parsed }];\n}\n\nconst prompt = `Parse this resume and extract structured data. Return ONLY valid JSON with these fields:\n- skills: array of technical skills\n- experience: array of {role, company, duration, highlights}\n- projects: array of {name, description, technologies}\n- achievements: array of strings\n\nResume text:\n${resumeText}`;\n\nlet response;\ntry {\n  if (rotation.aiProvider === 'groq') {\n    response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: rotation.aiUrl,\n      headers: {\n        'Authorization': `Bearer ${rotation.aiKey}`,\n        'Content-Type': 'application/json'\n      },\n      body: {\n        model: rotation.aiModel,\n        messages: [{ role: 'user', content: prompt }],\n        temperature: 0.1,\n        max_tokens: 2000\n      }\n    });\n    const content = response.choices[0].message.content;\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) parsed = JSON.parse(jsonMatch[0]);\n  } else if (rotation.aiProvider === 'gemini') {\n    response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${rotation.aiUrl}?key=${rotation.aiKey}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        contents: [{ parts: [{ text: prompt }] }],\n        generationConfig: { temperature: 0.1, maxOutputTokens: 2000 }\n      }\n    });\n    const content = response.candidates[0].content.parts[0].text;\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) parsed = JSON.parse(jsonMatch[0]);\n  }\n  // Increment AI counter\n  if (rotation.aiProvider === 'groq') {\n    staticData.groqCounts[staticData.groqIndex]++;\n  } else {\n    staticData.geminiCounts[staticData.geminiIndex]++;\n  }\n  staticData.aiCallsToday++;\n} catch (e) {\n  // Fallback to user profile\n  const profile = $('User Profile').first().json;\n  parsed.skills = profile.skills || [];\n}\n\n// Cache parsed resume in staticData for 9AM outreach access\nstaticData.parsedResume = parsed;\nreturn [{ json: parsed }];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "48a2d8be-3f62-46e3-8bf9-446c550ccd8c",
      "name": "Parse Resume with AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "url": "=https://remotive.com/api/remote-jobs?search={{$('User Profile').item.json.keywords}}&limit=20",
        "options": {
          "timeout": 15000
        }
      },
      "id": "016dabe8-f10d-4699-8470-92a664232e4d",
      "name": "Fetch Remotive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -600
      ]
    },
    {
      "parameters": {
        "url": "=https://www.arbeitnow.com/api/job-board-api?search={{$('User Profile').item.json.keywords}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "2866e7df-af91-4eb2-99e1-ed43eb82e934",
      "name": "Fetch Arbeitnow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -400
      ]
    },
    {
      "parameters": {
        "url": "=https://himalayas.app/jobs/api?limit=20&q={{$('User Profile').item.json.keywords}}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "322ee831-a0e7-4659-834f-37b82f05b01e",
      "name": "Fetch Himalayas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -200
      ]
    },
    {
      "parameters": {
        "url": "https://remotejobs.org/api/jobs?limit=20",
        "options": {
          "timeout": 15000
        }
      },
      "id": "f119fe3a-97b6-47c0-aabe-6c257f270206",
      "name": "Fetch RemoteJobs.org",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://jobicy.com/api/v2/remote-jobs?count=20",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b98bc752-a361-432d-8af8-d9b7f293609f",
      "name": "Fetch Jobicy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -600
      ]
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{$('User Profile').item.json.keywords}}"
            },
            {
              "name": "num_pages",
              "value": "1"
            },
            {
              "name": "date_posted",
              "value": "week"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "={{$('AI Key Rotation Manager').item.json.rapidApiKey}}"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "0bdc440b-157a-4334-8dcf-1e675efa07b7",
      "name": "Fetch JSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -400
      ]
    },
    {
      "parameters": {
        "url": "=https://findwork.dev/api/jobs/?search={{$('User Profile').item.json.keywords}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{$('AI Key Rotation Manager').item.json.findworkKey}}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "c718a6fc-e4f5-46da-a0af-f8d4c1d1d88f",
      "name": "Fetch Findwork",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "url": "https://www.themuse.com/api/public/jobs?page=1&descending=true",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e3907b0c-ade0-4225-864f-38ea06b991ed",
      "name": "Fetch The Muse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nfunction extractEmails(text) {\n  if (!text) return { recruiterEmail: null, recruiterName: null };\n  const emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n  const allEmails = (text.match(emailRegex) || [])\n    .map(e => e.toLowerCase())\n    .filter(e => !e.match(/noreply|unsubscribe|notifications|mailer-daemon|no-reply/))\n    .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp)$/));\n  \n  if (allEmails.length === 0) return { recruiterEmail: null, recruiterName: null };\n  \n  // Priority: career/hr/hiring/talent/recruit keywords\n  const priority = allEmails.find(e => e.match(/career|hr|hiring|talent|recruit|jobs|apply|people/));\n  const chosen = priority || allEmails[0];\n  const namePart = chosen.split('@')[0].replace(/[._]/g, ' ');\n  return { recruiterEmail: chosen, recruiterName: namePart };\n}\n\ntry {\n  const data = $input.first().json;\n  const jobs = (data.jobs || []).map(job => {\n    const emails = extractEmails(job.description || '');\n    return {\n      source: 'remotive',\n      jobTitle: job.title || '',\n      company: job.company_name || '',\n      location: job.candidate_required_location || 'Remote',\n      workMode: 'remote',\n      description: (job.description || '').substring(0, 1000),\n      applyUrl: job.url || '',\n      postedDate: job.publication_date || '',\n      jobId: `remotive_${job.id || ''}`,\n      recruiterEmail: emails.recruiterEmail,\n      recruiterName: emails.recruiterName\n    };\n  });\n  return jobs.length > 0 ? jobs.map(j => ({ json: j })) : [{ json: { empty: true, source: 'remotive' } }];\n} catch (e) {\n  return [{ json: { empty: true, source: 'remotive', error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "9b84df6b-08c5-4699-b0ea-79cdf62c44e6",
      "name": "Parse Remotive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -600
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nfunction extractEmails(text) {\n  if (!text) return { recruiterEmail: null, recruiterName: null };\n  const emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n  const allEmails = (text.match(emailRegex) || [])\n    .map(e => e.toLowerCase())\n    .filter(e => !e.match(/noreply|unsubscribe|notifications|mailer-daemon|no-reply/))\n    .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp)$/));\n  \n  if (allEmails.length === 0) return { recruiterEmail: null, recruiterName: null };\n  \n  // Priority: career/hr/hiring/talent/recruit keywords\n  const priority = allEmails.find(e => e.match(/career|hr|hiring|talent|recruit|jobs|apply|people/));\n  const chosen = priority || allEmails[0];\n  const namePart = chosen.split('@')[0].replace(/[._]/g, ' ');\n  return { recruiterEmail: chosen, recruiterName: namePart };\n}\n\ntry {\n  const data = $input.first().json;\n  const jobs = (data.data || []).map(job => {\n    const emails = extractEmails(job.description || '');\n    return {\n      source: 'arbeitnow',\n      jobTitle: job.title || '',\n      company: job.company_name || '',\n      location: job.location || 'Remote',\n      workMode: job.remote ? 'remote' : 'hybrid',\n      description: (job.description || '').substring(0, 1000),\n      applyUrl: job.url || '',\n      postedDate: job.created_at || '',\n      jobId: `arbeitnow_${job.slug || ''}`,\n      recruiterEmail: emails.recruiterEmail,\n      recruiterName: emails.recruiterName\n    };\n  });\n  return jobs.length > 0 ? jobs.map(j => ({ json: j })) : [{ json: { empty: true, source: 'arbeitnow' } }];\n} catch (e) {\n  return [{ json: { empty: true, source: 'arbeitnow', error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "f673f919-e09e-4ea9-8883-6ee1ad0b489f",
      "name": "Parse Arbeitnow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nfunction extractEmails(text) {\n  if (!text) return { recruiterEmail: null, recruiterName: null };\n  const emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n  const allEmails = (text.match(emailRegex) || [])\n    .map(e => e.toLowerCase())\n    .filter(e => !e.match(/noreply|unsubscribe|notifications|mailer-daemon|no-reply/))\n    .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp)$/));\n  \n  if (allEmails.length === 0) return { recruiterEmail: null, recruiterName: null };\n  \n  // Priority: career/hr/hiring/talent/recruit keywords\n  const priority = allEmails.find(e => e.match(/career|hr|hiring|talent|recruit|jobs|apply|people/));\n  const chosen = priority || allEmails[0];\n  const namePart = chosen.split('@')[0].replace(/[._]/g, ' ');\n  return { recruiterEmail: chosen, recruiterName: namePart };\n}\n\ntry {\n  const data = $input.first().json;\n  const jobs = (data.jobs || []).map(job => {\n    const emails = extractEmails(job.description || '');\n    return {\n      source: 'himalayas',\n      jobTitle: job.title || '',\n      company: job.companyName || job.company_name || '',\n      location: job.location || 'Remote',\n      workMode: 'remote',\n      description: (job.description || '').substring(0, 1000),\n      applyUrl: job.applicationUrl || job.url || '',\n      postedDate: job.pubDate || job.postedDate || '',\n      jobId: `himalayas_${job.id || ''}`,\n      recruiterEmail: emails.recruiterEmail,\n      recruiterName: emails.recruiterName\n    };\n  });\n  return jobs.length > 0 ? jobs.map(j => ({ json: j })) : [{ json: { empty: true, source: 'himalayas' } }];\n} catch (e) {\n  return [{ json: { empty: true, source: 'himalayas', error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "998592d6-a4e2-4917-8cfb-aaa59cab47eb",
      "name": "Parse Himalayas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nfunction extractEmails(text) {\n  if (!text) return { recruiterEmail: null, recruiterName: null };\n  const emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n  const allEmails = (text.match(emailRegex) || [])\n    .map(e => e.toLowerCase())\n    .filter(e => !e.match(/noreply|unsubscribe|notifications|mailer-daemon|no-reply/))\n    .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp)$/));\n  \n  if (allEmails.length === 0) return { recruiterEmail: null, recruiterName: null };\n  \n  // Priority: career/hr/hiring/talent/recruit keywords\n  const priority = allEmails.find(e => e.match(/career|hr|hiring|talent|recruit|jobs|apply|people/));\n  const chosen = priority || allEmails[0];\n  const namePart = chosen.split('@')[0].replace(/[._]/g, ' ');\n  return { recruiterEmail: chosen, recruiterName: namePart };\n}\n\ntry {\n  const data = $input.first().json;\n  const jobsArr = Array.isArray(data) ? data : (data.jobs || data.data || []);\n  const jobs = jobsArr.map(job => {\n    const emails = extractEmails(job.description || '');\n    return {\n      source: 'remotejobs',\n      jobTitle: job.title || '',\n      company: job.company || job.company_name || '',\n      location: job.location || 'Remote',\n      workMode: 'remote',\n      description: (job.description || '').substring(0, 1000),\n      applyUrl: job.url || job.apply_url || '',\n      postedDate: job.date || job.created_at || '',\n      jobId: `remotejobs_${job.id || ''}`,\n      recruiterEmail: emails.recruiterEmail,\n      recruiterName: emails.recruiterName\n    };\n  });\n  return jobs.length > 0 ? jobs.map(j => ({ json: j })) : [{ json: { empty: true, source: 'remotejobs' } }];\n} catch (e) {\n  return [{ json: { empty: true, source: 'remotejobs', error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "b8903644-e6c9-4c99-b4d1-b6fa844c9af6",
      "name": "Parse RemoteJobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nfunction extractEmails(text) {\n  if (!text) return { recruiterEmail: null, recruiterName: null };\n  const emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n  const allEmails = (text.match(emailRegex) || [])\n    .map(e => e.toLowerCase())\n    .filter(e => !e.match(/noreply|unsubscribe|notifications|mailer-daemon|no-reply/))\n    .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp)$/));\n  \n  if (allEmails.length === 0) return { recruiterEmail: null, recruiterName: null };\n  \n  // Priority: career/hr/hiring/talent/recruit keywords\n  const priority = allEmails.find(e => e.match(/career|hr|hiring|talent|recruit|jobs|apply|people/));\n  const chosen = priority || allEmails[0];\n  const namePart = chosen.split('@')[0].replace(/[._]/g, ' ');\n  return { recruiterEmail: chosen, recruiterName: namePart };\n}\n\ntry {\n  const data = $input.first().json;\n  const jobs = (data.jobs || []).map(job => {\n    const emails = extractEmails(job.jobDescription || '');\n    return {\n      source: 'jobicy',\n      jobTitle: job.jobTitle || '',\n      company: job.companyName || '',\n      location: job.jobGeo || 'Remote',\n      workMode: 'remote',\n      description: (job.jobDescription || '').substring(0, 1000),\n      applyUrl: job.url || '',\n      postedDate: job.pubDate || '',\n      jobId: `jobicy_${job.id || ''}`,\n      recruiterEmail: emails.recruiterEmail,\n      recruiterName: emails.recruiterName\n    };\n  });\n  return jobs.length > 0 ? jobs.map(j => ({ json: j })) : [{ json: { empty: true, source: 'jobicy' } }];\n} catch (e) {\n  return [{ json: { empty: true, source: 'jobicy', error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "33d3c5a9-2935-4490-ae8c-3f807f30ac71",
      "name": "Parse Jobicy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -600
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nfunction extractEmails(text) {\n  if (!text) return { recruiterEmail: null, recruiterName: null };\n  const emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n  const allEmails = (text.match(emailRegex) || [])\n    .map(e => e.toLowerCase())\n    .filter(e => !e.match(/noreply|unsubscribe|notifications|mailer-daemon|no-reply/))\n    .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp)$/));\n  \n  if (allEmails.length === 0) return { recruiterEmail: null, recruiterName: null };\n  \n  // Priority: career/hr/hiring/talent/recruit keywords\n  const priority = allEmails.find(e => e.match(/career|hr|hiring|talent|recruit|jobs|apply|people/));\n  const chosen = priority || allEmails[0];\n  const namePart = chosen.split('@')[0].replace(/[._]/g, ' ');\n  return { recruiterEmail: chosen, recruiterName: namePart };\n}\n\ntry {\n  const data = $input.first().json;\n  const jobs = (data.data || []).map(job => {\n    const desc = job.job_description || '';\n    const emails = extractEmails(desc);\n    return {\n      source: 'jsearch',\n      jobTitle: job.job_title || '',\n      company: job.employer_name || '',\n      location: job.job_city ? `${job.job_city}, ${job.job_country}` : (job.job_country || 'Remote'),\n      workMode: job.job_is_remote ? 'remote' : 'onsite',\n      description: desc.substring(0, 1000),\n      applyUrl: job.job_apply_link || '',\n      postedDate: job.job_posted_at_datetime_utc || '',\n      jobId: `jsearch_${job.job_id || ''}`,\n      recruiterEmail: emails.recruiterEmail,\n      recruiterName: emails.recruiterName\n    };\n  });\n  return jobs.length > 0 ? jobs.map(j => ({ json: j })) : [{ json: { empty: true, source: 'jsearch' } }];\n} catch (e) {\n  return [{ json: { empty: true, source: 'jsearch', error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "eb037217-aff7-4550-9e3d-9bb3fd95a714",
      "name": "Parse JSearch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -400
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nfunction extractEmails(text) {\n  if (!text) return { recruiterEmail: null, recruiterName: null };\n  const emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n  const allEmails = (text.match(emailRegex) || [])\n    .map(e => e.toLowerCase())\n    .filter(e => !e.match(/noreply|unsubscribe|notifications|mailer-daemon|no-reply/))\n    .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp)$/));\n  \n  if (allEmails.length === 0) return { recruiterEmail: null, recruiterName: null };\n  \n  // Priority: career/hr/hiring/talent/recruit keywords\n  const priority = allEmails.find(e => e.match(/career|hr|hiring|talent|recruit|jobs|apply|people/));\n  const chosen = priority || allEmails[0];\n  const namePart = chosen.split('@')[0].replace(/[._]/g, ' ');\n  return { recruiterEmail: chosen, recruiterName: namePart };\n}\n\ntry {\n  const data = $input.first().json;\n  const jobs = (data.results || []).map(job => {\n    const desc = job.text || job.description || '';\n    const emails = extractEmails(desc);\n    return {\n      source: 'findwork',\n      jobTitle: job.role || '',\n      company: job.company_name || '',\n      location: job.location || 'Remote',\n      workMode: job.remote ? 'remote' : 'onsite',\n      description: desc.substring(0, 1000),\n      applyUrl: job.url || '',\n      postedDate: job.date_posted || '',\n      jobId: `findwork_${job.id || ''}`,\n      recruiterEmail: emails.recruiterEmail,\n      recruiterName: emails.recruiterName\n    };\n  });\n  return jobs.length > 0 ? jobs.map(j => ({ json: j })) : [{ json: { empty: true, source: 'findwork' } }];\n} catch (e) {\n  return [{ json: { empty: true, source: 'findwork', error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "92a39018-4832-4ff3-bf74-d4a91fdbd10a",
      "name": "Parse Findwork",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nfunction extractEmails(text) {\n  if (!text) return { recruiterEmail: null, recruiterName: null };\n  const emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\n  const allEmails = (text.match(emailRegex) || [])\n    .map(e => e.toLowerCase())\n    .filter(e => !e.match(/noreply|unsubscribe|notifications|mailer-daemon|no-reply/))\n    .filter(e => !e.match(/\\.(png|jpg|jpeg|gif|svg|webp)$/));\n  \n  if (allEmails.length === 0) return { recruiterEmail: null, recruiterName: null };\n  \n  // Priority: career/hr/hiring/talent/recruit keywords\n  const priority = allEmails.find(e => e.match(/career|hr|hiring|talent|recruit|jobs|apply|people/));\n  const chosen = priority || allEmails[0];\n  const namePart = chosen.split('@')[0].replace(/[._]/g, ' ');\n  return { recruiterEmail: chosen, recruiterName: namePart };\n}\n\ntry {\n  const data = $input.first().json;\n  const jobs = (data.results || []).map(job => {\n    const desc = job.contents || '';\n    const emails = extractEmails(desc);\n    const loc = job.locations && job.locations.length > 0 ? job.locations[0].name : 'Remote';\n    return {\n      source: 'themuse',\n      jobTitle: job.name || '',\n      company: job.company ? job.company.name : '',\n      location: loc,\n      workMode: loc.toLowerCase().includes('remote') ? 'remote' : 'onsite',\n      description: desc.substring(0, 1000),\n      applyUrl: job.refs ? job.refs.landing_page : '',\n      postedDate: job.publication_date || '',\n      jobId: `themuse_${job.id || ''}`,\n      recruiterEmail: emails.recruiterEmail,\n      recruiterName: emails.recruiterName\n    };\n  });\n  return jobs.length > 0 ? jobs.map(j => ({ json: j })) : [{ json: { empty: true, source: 'themuse' } }];\n} catch (e) {\n  return [{ json: { empty: true, source: 'themuse', error: e.message } }];\n}\n",
        "mode": "runOnceForAllItems"
      },
      "id": "c2ae47b0-f369-4a20-a572-cadbd9f23c78",
      "name": "Parse The Muse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst allItems = $input.all();\nconst jobs = allItems\n  .map(item => item.json)\n  .filter(j => !j.empty && j.jobTitle);\n  \nif (jobs.length === 0) {\n  return [{ json: { empty: true, message: \"No jobs found from any API\" } }];\n}\n\nreturn jobs.map(j => ({ json: j }));\n",
        "mode": "runOnceForAllItems"
      },
      "id": "358a25fb-a56d-4e45-93d9-bc6179378771",
      "name": "Merge All Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nif (!staticData.seenJobs) staticData.seenJobs = {};\n\nconst items = $input.all();\nconst unique = [];\n\nfor (const item of items) {\n  if (item.json.empty) continue;\n  const key = (item.json.jobTitle + item.json.company).toLowerCase().replace(/\\s+/g, '');\n  if (!staticData.seenJobs[key]) {\n    staticData.seenJobs[key] = Date.now();\n    unique.push(item);\n  }\n}\n\n// Clean old entries (>7 days)\nconst weekAgo = Date.now() - 7 * 24 * 60 * 60 * 1000;\nfor (const key of Object.keys(staticData.seenJobs)) {\n  if (staticData.seenJobs[key] < weekAgo) {\n    delete staticData.seenJobs[key];\n  }\n}\n\nif (unique.length === 0) {\n  return [{ json: { empty: true, message: \"All jobs are duplicates\" } }];\n}\nreturn unique;\n",
        "mode": "runOnceForAllItems"
      },
      "id": "3dffa25a-9f03-480a-a4ad-78f9aac4dd0d",
      "name": "Deduplicate Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst config = $('Backend Config').first().json;\nconst maxDays = config.freshnessMaxDays || 14;\nconst items = $input.all();\nconst filtered = [];\n\nfor (const item of items) {\n  if (item.json.empty) continue;\n  \n  const postedDate = item.json.postedDate;\n  if (!postedDate) {\n    // No date available - keep it with NORMAL priority\n    item.json.priority = 'NORMAL';\n    filtered.push(item);\n    continue;\n  }\n  \n  const posted = new Date(postedDate);\n  const now = new Date();\n  const diffDays = Math.floor((now - posted) / (1000 * 60 * 60 * 24));\n  \n  if (diffDays > maxDays) continue; // Skip old jobs\n  \n  // Set priority\n  if (diffDays <= 2) item.json.priority = 'HIGH';\n  else if (diffDays <= 7) item.json.priority = 'NORMAL';\n  else item.json.priority = 'LOW';\n  \n  item.json.ageDays = diffDays;\n  filtered.push(item);\n}\n\nif (filtered.length === 0) {\n  return [{ json: { empty: true, message: \"All jobs too old\" } }];\n}\nreturn filtered;\n",
        "mode": "runOnceForAllItems"
      },
      "id": "98060d21-4ef6-4c8e-ba0e-f63e6a863067",
      "name": "Freshness Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nconst rotation = $('AI Key Rotation Manager').first().json;\nconst userProfile = $('User Profile').first().json;\nconst resume = $('Parse Resume with AI').first().json;\nconst job = $input.item.json;\n\nif (job.empty) return [{ json: { ...job, score: 0, matchReason: 'empty' } }];\nif (rotation.aiProvider === 'exhausted') {\n  // Fallback: simple keyword matching\n  const skills = (userProfile.skills || []).map(s => s.toLowerCase());\n  const desc = (job.description || '').toLowerCase();\n  let score = 0;\n  skills.forEach(s => { if (desc.includes(s)) score += 15; });\n  score = Math.min(score, 100);\n  return [{ json: { ...job, score, matchReason: 'keyword-fallback' } }];\n}\n\nconst prompt = `Score this job match 0-100 for the candidate. Return ONLY JSON: {\"score\": number, \"matchReason\": \"brief reason\"}\n\nJob: ${job.jobTitle} at ${job.company}\nDescription: ${(job.description || '').substring(0, 500)}\nLocation: ${job.location} | Mode: ${job.workMode}\n\nCandidate Skills: ${userProfile.skills.join(', ')}\nExperience: ${userProfile.experience}\nResume Skills: ${(resume.skills || []).join(', ')}\nResume Projects: ${(resume.projects || []).map(p => p.name || p).join(', ')}\n\nScoring: +20 skill overlap, +15 project match, +10 location match, +10 seniority match, +10 fresh posting`;\n\ntry {\n  let content = '';\n  if (rotation.aiProvider === 'groq') {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: rotation.aiUrl,\n      headers: { 'Authorization': `Bearer ${rotation.aiKey}`, 'Content-Type': 'application/json' },\n      body: { model: rotation.aiModel, messages: [{ role: 'user', content: prompt }], temperature: 0.1, max_tokens: 200 }\n    });\n    content = resp.choices[0].message.content;\n    staticData.groqCounts[staticData.groqIndex]++;\n  } else {\n    const resp = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${rotation.aiUrl}?key=${rotation.aiKey}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: { contents: [{ parts: [{ text: prompt }] }], generationConfig: { temperature: 0.1, maxOutputTokens: 200 } }\n    });\n    content = resp.candidates[0].content.parts[0].text;\n    staticData.geminiCounts[staticData.geminiIndex]++;\n  }\n  staticData.aiCallsToday++;\n  \n  const jsonMatch = content.match(/\\{[\\s\\S]*?\\}/);\n  if (jsonMatch) {\n    const result = JSON.parse(jsonMatch[0]);\n    return [{ json: { ...job, score: result.score || 0, matchReason: result.matchReason || '' } }];\n  }\n  return [{ json: { ...job, score: 50, matchReason: 'parse-error' } }];\n} catch (e) {\n  return [{ json: { ...job, score: 50, matchReason: `error: ${e.message}` } }];\n}\n",
        "mode": "runOnceForEachItem"
      },
      "id": "f4109be2-82d1-436c-81e2-382fe1f61e5e",
      "name": "AI Score Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Categorize ALL jobs into tiers \u2014 nothing is hidden\n// Score 80-100: STRONG \u2192 email sent\n// Score 60-79:  GOOD \u2192 email sent\n// Score 40-59:  PARTIAL \u2192 shown in digest (user decides)\n// Score 20-39:  STRETCH \u2192 shown in digest (learning opportunity)\n// Score <20:    SKIP (truly irrelevant)\n\nconst items = $input.all();\nconst categorized = [];\n\nfor (const item of items) {\n  const job = item.json;\n  if (job.empty) continue;\n  \n  const score = job.score || 0;\n  \n  if (score >= 80) {\n    job.tier = 'strong';\n    job.tierLabel = 'STRONG MATCH';\n    job.sendEmail = true;\n  } else if (score >= 60) {\n    job.tier = 'good';\n    job.tierLabel = 'GOOD MATCH';\n    job.sendEmail = true;\n  } else if (score >= 40) {\n    job.tier = 'partial';\n    job.tierLabel = 'PARTIAL MATCH';\n    job.sendEmail = false;\n  } else if (score >= 20) {\n    job.tier = 'stretch';\n    job.tierLabel = 'STRETCH';\n    job.sendEmail = false;\n  } else {\n    continue; // Skip truly irrelevant (<20)\n  }\n  \n  categorized.push({ json: job });\n}\n\nif (categorized.length === 0) {\n  return [{ json: { empty: true, message: 'No relevant jobs found' } }];\n}\n\nreturn categorized;",
        "mode": "runOnceForAllItems"
      },
      "id": "71ca40c9-0c97-4511-a5a7-4e6ec15813d4",
      "name": "Categorize Jobs by Tier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Skills Gap Analysis: Find in-demand skills the user DOESN'T have\n// Scans ALL job descriptions, counts skill mentions, compares with user's resume\nconst userProfile = $('User Profile').first().json;\nconst resume = $('Parse Resume with AI').first().json;\n\n// Combine user's known skills (from profile + resume)\nconst userSkills = new Set([\n  ...(userProfile.skills || []).map(s => s.toLowerCase()),\n  ...(resume.skills || []).map(s => s.toLowerCase())\n]);\n\n// Common tech skills to look for in job descriptions\nconst techSkills = [\n  'python', 'javascript', 'typescript', 'react', 'angular', 'vue',\n  'node.js', 'nodejs', 'java', 'go', 'golang', 'rust', 'c++',\n  'aws', 'azure', 'gcp', 'google cloud', 'docker', 'kubernetes',\n  'terraform', 'jenkins', 'ci/cd', 'git', 'linux',\n  'postgresql', 'mysql', 'mongodb', 'redis', 'elasticsearch',\n  'graphql', 'rest api', 'microservices', 'kafka', 'rabbitmq',\n  'machine learning', 'deep learning', 'pytorch', 'tensorflow',\n  'data science', 'pandas', 'numpy', 'sql', 'nosql',\n  'react native', 'flutter', 'swift', 'kotlin',\n  'figma', 'agile', 'scrum', 'jira', 'devops', 'sre',\n  'next.js', 'nextjs', 'tailwind', 'sass', 'webpack',\n  'spring boot', 'django', 'flask', 'fastapi', 'express',\n  'solidity', 'blockchain', 'web3'\n];\n\n// Count how many jobs mention each skill\nconst skillCounts = {};\nconst items = $input.all();\n\nfor (const item of items) {\n  const desc = (item.json.description || '').toLowerCase();\n  for (const skill of techSkills) {\n    if (desc.includes(skill)) {\n      if (!skillCounts[skill]) skillCounts[skill] = 0;\n      skillCounts[skill]++;\n    }\n  }\n}\n\n// Find skills user DOESN'T have that are in demand\nconst gap = [];\nfor (const [skill, count] of Object.entries(skillCounts)) {\n  if (!userSkills.has(skill) && count >= 2) {\n    gap.push({ skill, count });\n  }\n}\n\n// Sort by most demanded\ngap.sort((a, b) => b.count - a.count);\nconst topGap = gap.slice(0, 10);\n\n// Also find skills user HAS that are in demand (validation)\nconst strengths = [];\nfor (const [skill, count] of Object.entries(skillCounts)) {\n  if (userSkills.has(skill)) {\n    strengths.push({ skill, count });\n  }\n}\nstrengths.sort((a, b) => b.count - a.count);\n\n// Pass everything forward (all jobs + gap analysis)\nconst allJobs = items.map(i => i.json).filter(j => !j.empty);\n\nreturn [{ json: {\n  allJobs,\n  skillsGap: topGap,\n  userStrengths: strengths.slice(0, 5),\n  totalJobsAnalyzed: allJobs.length,\n  gapMessage: topGap.length > 0 \n    ? `Skills in demand you don't have yet: ${topGap.slice(0, 5).map(g => g.skill + ' (' + g.count + ' jobs)').join(', ')}`\n    : 'Your skills match market demand well!',\n  strengthMessage: strengths.length > 0\n    ? `Your strongest matches: ${strengths.slice(0, 3).map(s => s.skill + ' (' + s.count + ' jobs)').join(', ')}`\n    : ''\n} }];",
        "mode": "runOnceForAllItems"
      },
      "id": "a1fdcb70-c6b1-4352-a428-37c078fee5c1",
      "name": "Skills Gap Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Store jobs with sendEmail=true for the 9AM outreach trigger\n// Pass ALL data forward (jobs + skills gap) for the digest email\nconst staticData = this.getWorkflowStaticData('global');\nif (!staticData.discoveredJobs) staticData.discoveredJobs = [];\n\nconst input = $input.first().json;\nconst allJobs = input.allJobs || [];\nconst today = new Date().toISOString().split('T')[0];\nlet storedCount = 0;\n\nfor (const job of allJobs) {\n  // Only store for email outreach if sendEmail is true (score \u226560) AND has email\n  if (job.sendEmail && job.recruiterEmail) {\n    job.discoveredAt = today;\n    job.emailed = false;\n    staticData.discoveredJobs.push(job);\n    storedCount++;\n  }\n}\n\n// Cap at 500\nif (staticData.discoveredJobs.length > 500) {\n  staticData.discoveredJobs = staticData.discoveredJobs.slice(-500);\n}\n\n// Pass everything forward for digest\nreturn [{ json: {\n  stored: storedCount,\n  totalInQueue: staticData.discoveredJobs.length,\n  allJobs: allJobs,\n  skillsGap: input.skillsGap || [],\n  userStrengths: input.userStrengths || [],\n  gapMessage: input.gapMessage || '',\n  strengthMessage: input.strengthMessage || '',\n  totalJobsAnalyzed: input.totalJobsAnalyzed || 0,\n  today\n} }];",
        "mode": "runOnceForAllItems"
      },
      "id": "99b9012b-00e8-4a25-b3cd-8c9bae7f3fcb",
      "name": "Store Jobs for Outreach",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        -300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst user = $('User Profile').first().json;\nconst stored = $input.first().json;\nconst allItems = $('AI Score Jobs').all();\nconst highPriority = allItems.filter(i => i.json.priority === 'HIGH' && i.json.score >= 60);\nconst totalScored = allItems.filter(i => !i.json.empty).length;\nconst passed = allItems.filter(i => i.json.score >= 60).length;\n\nlet body = `Hi ${user.name},\\n\\nHere is your daily job discovery digest:\\n\\n`;\nbody += `Found: ${totalScored} jobs | Passed: ${passed} (score \u226560)\\n`;\nbody += `Stored for outreach: ${stored.stored} | Queue: ${stored.totalInQueue}\\n\\n`;\n\nif (highPriority.length > 0) {\n  body += `\u26a1 HIGH PRIORITY (posted <2 days):\\n`;\n  highPriority.slice(0, 10).forEach((item, i) => {\n    const j = item.json;\n    body += `${i+1}. ${j.jobTitle} @ ${j.company} (${j.score}/100)\\n`;\n    if (j.applyUrl) body += `   Apply: ${j.applyUrl}\\n`;\n  });\n  if (highPriority.length > 10) body += `   ...and ${highPriority.length - 10} more\\n`;\n}\n\nconst others = allItems.filter(i => i.json.priority !== 'HIGH' && i.json.score >= 60);\nif (others.length > 0) {\n  body += `\\nOther matches:\\n`;\n  others.slice(0, 5).forEach((item, i) => {\n    const j = item.json;\n    body += `${i+1}. ${j.jobTitle} @ ${j.company} (${j.score}/100)\\n`;\n  });\n  if (others.length > 5) body += `   ...and ${others.length - 5} more\\n`;\n}\n\nbody += `\\nOutreach will begin at 9:00 AM UTC.\\n\\n---\\nAI Jobs Assistant`;\n\nconst emailSubject = `Job Digest: ${passed} matches found (${highPriority.length} high priority)`;\nreturn [{ json: { emailBody: body, emailSubject, sendTo: user.email } }];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "2200bf3b-6d96-4907-a13d-8dc6cb7eca9a",
      "name": "Prepare Job Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        -300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.sendTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailBody}}",
        "options": {}
      },
      "id": "3a8bf1be-a50f-49ad-bc86-575da97d8cbf",
      "name": "Send Job Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3300,
        -300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BOT_GMAIL_CREDENTIAL",
          "name": "AI Jobs Assistant (Bot)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "b9681022-2ee5-432f-967c-0a6490904c92",
      "name": "Trigger: 9AM Email Outreach",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nif (!staticData.discoveredJobs || staticData.discoveredJobs.length === 0) {\n  return [{ json: { empty: true, message: \"No jobs in queue\" } }];\n}\n\n// Filter: has recruiterEmail AND not already emailed today\nconst available = staticData.discoveredJobs.filter(job => \n  job.recruiterEmail && !job.emailed\n);\n\nif (available.length === 0) {\n  return [{ json: { empty: true, message: \"No jobs with email available\" } }];\n}\n\nreturn available.map(j => ({ json: j }));\n",
        "mode": "runOnceForAllItems"
      },
      "id": "03686028-8d94-4ec0-909f-93ace7cd61ca",
      "name": "Get Jobs for Outreach",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\n// Use staticData config if Backend Config didn't run in this execution\nconst limit = 50; // userEmailDailyLimit\n\nif (!staticData.emailsSent) staticData.emailsSent = {};\nif (!staticData.emailsSent[today]) {\n  staticData.emailsSent[today] = { count: 0, jobIds: [] };\n}\n\nconst sent = staticData.emailsSent[today].count;\nconst remaining = limit - sent;\n\nif (remaining <= 0) {\n  return [{ json: { limitReached: true, sent, limit } }];\n}\n\n// Slice jobs to fit remaining limit\nconst items = $input.all().filter(i => !i.json.empty);\nconst toSend = items.slice(0, remaining);\n\nreturn toSend.map(item => ({\n  json: { ...item.json, limitReached: false, emailsSentToday: sent, dailyLimit: limit }\n}));\n",
        "mode": "runOnceForAllItems"
      },
      "id": "da1f16f4-0fef-4293-907f-fa97ed387d82",
      "name": "Check Email Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "ef97ef52-347e-4a48-867f-2664057eb996",
              "leftValue": "={{ $json.limitReached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "4c86d282-8a09-4a64-af9c-9ae6a6b03e2f",
      "name": "Limit Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\n\n// Self-contained: get user profile and AI config inline\n// (This node runs in 9AM execution which doesn't go through User Profile/Parse Resume)\nconst userProfile = {\n  name: \"YOUR_NAME\",\n  email: \"your.email@gmail.com\",\n  skills: [\"JavaScript\", \"TypeScript\", \"React\", \"Node.js\", \"Python\", \"AWS\"],\n  keywords: \"software engineer remote\",\n  linkedinUrl: \"https://linkedin.com/in/yourprofile\",\n  portfolioUrl: \"https://yourportfolio.com\",\n  currentRole: \"Software Engineer\",\n  experience: \"3 years\"\n};\n\n// AI rotation (forward-only, same logic as AI Key Rotation Manager)\nconst config = {\n  groqKeys: [\"gsk_GROQ_KEY_1_PLACEHOLDER\",\"gsk_GROQ_KEY_2_PLACEHOLDER\",\"gsk_GROQ_KEY_3_PLACEHOLDER\",\"gsk_GROQ_KEY_4_PLACEHOLDER\"],\n  geminiKeys: [\"GEMINI_KEY_1_PLACEHOLDER\",\"GEMINI_KEY_2_PLACEHOLDER\",\"GEMINI_KEY_3_PLACEHOLDER\",\"GEMINI_KEY_4_PLACEHOLDER\"],\n  groqDailyLimit: 14400,\n  geminiDailyLimit: 1000\n};\n\nconst today = new Date().toISOString().split('T')[0];\nif (!staticData.rotationDate || staticData.rotationDate !== today) {\n  staticData.rotationDate = today;\n  staticData.groqIndex = 0; staticData.geminiIndex = 0;\n  staticData.groqCounts = [0,0,0,0]; staticData.geminiCounts = [0,0,0,0];\n  staticData.aiCallsToday = 0;\n}\n\nlet aiKey = null, aiProvider = 'exhausted', aiUrl = '', aiModel = '';\nfor (let i = (staticData.groqIndex||0); i < 4; i++) {\n  if ((staticData.groqCounts||[0,0,0,0])[i] < config.groqDailyLimit) {\n    aiKey = config.groqKeys[i]; aiProvider = 'groq';\n    aiUrl = 'https://api.groq.com/openai/v1/chat/completions';\n    aiModel = 'llama-3.1-70b-versatile'; staticData.groqIndex = i; break;\n  }\n  staticData.groqIndex = i + 1;\n}\nif (aiProvider === 'exhausted') {\n  for (let i = (staticData.geminiIndex||0); i < 4; i++) {\n    if ((staticData.geminiCounts||[0,0,0,0])[i] < config.geminiDailyLimit) {\n      aiKey = config.geminiKeys[i]; aiProvider = 'gemini';\n      aiUrl = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent';\n      aiModel = 'gemini-1.5-flash'; staticData.geminiIndex = i; break;\n    }\n    staticData.geminiIndex = i + 1;\n  }\n}\n\n// Get parsed resume from staticData (cached from 8AM run)\nconst resume = staticData.parsedResume || { skills: userProfile.skills, projects: [] };\n\nconst job = $input.item.json;\n\nif (job.empty || !job.recruiterEmail) {\n  return [{ json: { skip: true } }];\n}\n\nlet emailSubject = `Application for ${job.jobTitle} at ${job.company}`;\nlet emailBody = '';\n\nif (aiProvider !== 'exhausted') {\n  const prompt = `Write a DIRECT job application email (150-200 words). This is NOT a follow-up.\n\nJob: ${job.jobTitle} at ${job.company}\nDescription: ${(job.description || '').substring(0, 400)}\n\nCandidate: ${userProfile.name}\nSkills: ${userProfile.skills.join(', ')}\nExperience: ${userProfile.experience}\nResume highlights: ${(resume.projects || []).slice(0, 2).map(p => p.name || p).join(', ')}\nLinkedIn: ${userProfile.linkedinUrl}\nPortfolio: ${userProfile.portfolioUrl}\n\nInstructions:\n- Start with \"Hi [Hiring Team/Recruiter Name],\"\n- First paragraph: State you're applying for the role, mention one specific JD requirement you match\n- Second paragraph: Reference a project from resume that proves competence\n- Close: Express enthusiasm, mention resume is attached\n- Sign off with name + LinkedIn + Portfolio\n- Keep it 150-200 words, professional but warm\n- Do NOT say \"I saw your posting on...\" or \"I hope this email finds you...\"\n\nReturn format:\nSubject: [subject line]\n\n[email body]`;\n\n  try {\n    let content = '';\n    if (aiProvider === 'groq') {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST', url: aiUrl,\n        headers: { 'Authorization': `Bearer ${aiKey}`, 'Content-Type': 'application/json' },\n        body: { model: aiModel, messages: [{ role: 'user', content: prompt }], temperature: 0.7, max_tokens: 500 }\n      });\n      content = resp.choices[0].message.content;\n      staticData.groqCounts[staticData.groqIndex]++;\n    } else {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST', url: `${aiUrl}?key=${aiKey}`,\n        headers: { 'Content-Type': 'application/json' },\n        body: { contents: [{ parts: [{ text: prompt }] }], generationConfig: { temperature: 0.7, maxOutputTokens: 500 } }\n      });\n      content = resp.candidates[0].content.parts[0].text;\n      staticData.geminiCounts[staticData.geminiIndex]++;\n    }\n    staticData.aiCallsToday++;\n    \n    const subjectMatch = content.match(/Subject:\\s*(.+)/i);\n    if (subjectMatch) {\n      emailSubject = subjectMatch[1].trim();\n      emailBody = content.replace(/Subject:.+\\n?\\n?/i, '').trim();\n    } else {\n      emailBody = content.trim();\n    }\n  } catch (e) {\n    emailBody = `Hi Hiring Team,\\n\\nI am writing to apply for the ${job.jobTitle} position at ${job.company}. With ${userProfile.experience} of experience in ${userProfile.skills.slice(0, 3).join(', ')}, I believe I would be a strong fit for this role.\\n\\nI have attached my resume for your review. I would welcome the opportunity to discuss how my background aligns with your needs.\\n\\nBest regards,\\n${userProfile.name}\\n${userProfile.linkedinUrl}\\n${userProfile.portfolioUrl}`;\n  }\n} else {\n  emailBody = `Hi Hiring Team,\\n\\nI am writing to apply for the ${job.jobTitle} position at ${job.company}. With ${userProfile.experience} of experience in ${userProfile.skills.slice(0, 3).join(', ')}, I believe I would be a strong fit for this role.\\n\\nI have attached my resume for your review. I would welcome the opportunity to discuss how my background aligns with your needs.\\n\\nBest regards,\\n${userProfile.name}\\n${userProfile.linkedinUrl}\\n${userProfile.portfolioUrl}`;\n}\n\nreturn [{ json: { \n  ...job, \n  emailSubject, \n  emailBody, \n  sendTo: job.recruiterEmail,\n  ccEmail: userProfile.email\n}}];\n",
        "mode": "runOnceForEachItem"
      },
      "id": "fd93f461-309f-431c-a910-04670efea63d",
      "name": "AI: Generate Application Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        800
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.sendTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailBody}}",
        "options": {
          "ccList": "={{$json.ccEmail}}"
        }
      },
      "id": "79ce7627-92bb-49bf-95ea-cbb5de67983c",
      "name": "Send Application Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1320,
        800
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "User Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nif (!staticData.emailsSent) staticData.emailsSent = {};\nif (!staticData.emailsSent[today]) {\n  staticData.emailsSent[today] = { count: 0, jobIds: [] };\n}\n\nconst job = $input.item.json;\nstaticData.emailsSent[today].count++;\nstaticData.emailsSent[today].jobIds.push(job.jobId);\n\n// Mark job as emailed in discoveredJobs\nif (staticData.discoveredJobs) {\n  const idx = staticData.discoveredJobs.findIndex(j => j.jobId === job.jobId);\n  if (idx >= 0) {\n    staticData.discoveredJobs[idx].emailed = true;\n    staticData.discoveredJobs[idx].emailedAt = new Date().toISOString();\n  }\n}\n\nreturn [{ json: { \n  ...job, \n  emailSent: true, \n  emailCount: staticData.emailsSent[today].count \n}}];\n",
        "mode": "runOnceForEachItem"
      },
      "id": "45864aa1-cd5e-4446-ac52-b98663789e1f",
      "name": "Track Email Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\nconst todayStats = staticData.emailsSent ? staticData.emailsSent[today] : { count: 0 };\nconst limit = 50; // userEmailDailyLimit\nconst userName = 'YOUR_NAME';\nconst userEmail = 'your.email@gmail.com';\n\nconst items = $input.all();\nconst sentCount = items.length;\n\nlet body = `Hi ${userName},\n\nEmail outreach complete for today:\n\n`;\nbody += `Sent: ${sentCount} application emails\n`;\nbody += `Total today: ${todayStats.count}/${limit}\n\n`;\n\nbody += `Applications sent to:\n`;\nitems.slice(0, 10).forEach((item, i) => {\n  const j = item.json;\n  body += `${i+1}. ${j.jobTitle} @ ${j.company} -> ${j.recruiterEmail}\n`;\n});\n\nif (items.length > 10) body += `   ...and ${items.length - 10} more\n`;\nbody += `\nEach email is a direct application with resume context.\n\n---\nAI Jobs Assistant`;\n\nconst emailSubject = `Outreach Complete: ${sentCount} Applications Sent`;\nreturn [{ json: { emailBody: body, emailSubject, sendTo: userEmail } }];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "4b1da36a-87c1-4851-b72b-65f1d62940fc",
      "name": "Outreach Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        800
      ]
    },
    {
      "parameters": {
        "sendTo": "={{.sendTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailBody}}",
        "options": {}
      },
      "id": "ae9d430a-51b1-4fe9-9575-b47ecdb4cdbd",
      "name": "Send Outreach Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1980,
        800
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BOT_GMAIL_CREDENTIAL",
          "name": "AI Jobs Assistant (Bot)"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your.email@gmail.com",
        "subject": "=Daily Email Limit Reached",
        "message": "=\u26a0\ufe0f Daily Email Limit Reached\n\nSent: {{$json.sent}}/{{$json.limit}} emails today.\nOutreach paused until tomorrow.\n\nRemaining jobs saved in queue for tomorrow.\n\n---\nAI Jobs Assistant",
        "options": {}
      },
      "id": "22b4a632-55a6-4217-b193-f110bcbf7887",
      "name": "Limit Notification Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1100,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BOT_GMAIL_CREDENTIAL",
          "name": "AI Jobs Assistant (Bot)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "4b758cce-81ca-424d-afa7-1a06cc00cf90",
      "name": "Trigger: Midnight Reset",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\n// Reset AI counters\nstaticData.rotationDate = today;\nstaticData.groqIndex = 0;\nstaticData.geminiIndex = 0;\nstaticData.groqCounts = [0, 0, 0, 0];\nstaticData.geminiCounts = [0, 0, 0, 0];\nstaticData.aiCallsToday = 0;\n\n// Reset email counter (keep history)\nif (!staticData.emailsSent) staticData.emailsSent = {};\nstaticData.emailsSent[today] = { count: 0, jobIds: [] };\n\n// Clean old email history (keep 7 days)\nconst keys = Object.keys(staticData.emailsSent);\nconst weekAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\nkeys.forEach(k => { if (k < weekAgo) delete staticData.emailsSent[k]; });\n\n// Keep discoveredJobs (rolling window) but clean >14 day old\nif (staticData.discoveredJobs) {\n  const cutoff = new Date(Date.now() - 14 * 24 * 60 * 60 * 1000).toISOString().split('T')[0];\n  staticData.discoveredJobs = staticData.discoveredJobs.filter(j => \n    !j.discoveredAt || j.discoveredAt >= cutoff\n  );\n}\n\n// Reset RapidAPI monthly counters on 1st of month\nconst dayOfMonth = new Date().getDate();\nif (dayOfMonth === 1) {\n  staticData.rapidApiIndex = 0;\n  staticData.findworkIndex = 0;\n  staticData.rapidApiCounts = [0, 0, 0, 0];\n  staticData.findworkCounts = [0, 0, 0, 0];\n}\n\nreturn [{ json: { \n  message: \"Daily reset complete\",\n  date: today,\n  discoveredJobsCount: (staticData.discoveredJobs || []).length\n}}];\n",
        "mode": "runOnceForAllItems"
      },
      "id": "c55b758f-2f29-41a3-893c-8a928402a3f9",
      "name": "Daily Reset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        1200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "922e04b8-b3a8-4bde-9eee-f30475865f9a",
      "name": "Trigger: 10AM Follow-up",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = this.getWorkflowStaticData('global');\nconst today = new Date();\nif (!staticData.discoveredJobs || staticData.discoveredJobs.length === 0) {\n  return [{ json: { empty: true, message: 'No jobs in queue' } }];\n}\nconst needFollowUp = staticData.discoveredJobs.filter(job => {\n  if (!job.emailed || !job.emailedAt) return false;\n  if (job.followedUp) return false;\n  const daysSince = Math.floor((today - new Date(job.emailedAt)) / (1000*60*60*24));\n  return daysSince >= 3 && daysSince <= 5;\n});\nif (needFollowUp.length === 0) return [{ json: { empty: true, message: 'No follow-ups needed' } }];\nreturn needFollowUp.map(j => ({ json: { ...j, isFollowUp: true } }));",
        "mode": "runOnceForAllItems"
      },
      "id": "fc474205-5fa5-4bda-af63-980df35dcae2",
      "name": "Get Jobs for Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = this.getWorkflowStaticData('global');\n\nconst today = new Date().toISOString().split('T')[0];\nif (!staticData.emailsSent) staticData.emailsSent = {};\nif (!staticData.emailsSent[today]) staticData.emailsSent[today] = { count: 0, jobIds: [] };\nconst remaining = 50 - staticData.emailsSent[today].count;\nif (remaining <= 0) return [{ json: { empty: true, message: 'Daily limit reached' } }];\nconst items = $input.all().filter(i => !i.json.empty);\nreturn items.slice(0, Math.min(remaining, 5));",
        "mode": "runOnceForAllItems"
      },
      "id": "57cac030-547b-48db-aa7e-d44a4195b6cd",
      "name": "Check Follow-up Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = this.getWorkflowStaticData('global');\n\n// Self-contained user profile (10AM trigger doesn't run User Profile node)\nconst user = {\n  name: \"YOUR_NAME\",\n  email: \"your.email@gmail.com\",\n  skills: [\"JavaScript\", \"TypeScript\", \"React\", \"Node.js\", \"Python\", \"AWS\"],\n  linkedinUrl: \"https://linkedin.com/in/yourprofile\",\n  portfolioUrl: \"https://yourportfolio.com\",\n  experience: \"3 years\"\n};\n\n// AI rotation inline (same forward-only logic)\nconst config = {\n  groqKeys: [\"gsk_GROQ_KEY_1_PLACEHOLDER\",\"gsk_GROQ_KEY_2_PLACEHOLDER\",\"gsk_GROQ_KEY_3_PLACEHOLDER\",\"gsk_GROQ_KEY_4_PLACEHOLDER\"],\n  geminiKeys: [\"GEMINI_KEY_1_PLACEHOLDER\",\"GEMINI_KEY_2_PLACEHOLDER\",\"GEMINI_KEY_3_PLACEHOLDER\",\"GEMINI_KEY_4_PLACEHOLDER\"],\n  groqDailyLimit: 14400,\n  geminiDailyLimit: 1000\n};\n\nconst today = new Date().toISOString().split('T')[0];\nif (!staticData.rotationDate || staticData.rotationDate !== today) {\n  staticData.rotationDate = today;\n  staticData.groqIndex = 0; staticData.geminiIndex = 0;\n  staticData.groqCounts = [0,0,0,0]; staticData.geminiCounts = [0,0,0,0];\n  staticData.aiCallsToday = 0;\n}\n\nlet aiKey = null, aiProvider = 'exhausted', aiUrl = '', aiModel = '';\nfor (let i = (staticData.groqIndex||0); i < 4; i++) {\n  if ((staticData.groqCounts||[0,0,0,0])[i] < config.groqDailyLimit) {\n    aiKey = config.groqKeys[i]; aiProvider = 'groq';\n    aiUrl = 'https://api.groq.com/openai/v1/chat/completions';\n    aiModel = 'llama-3.1-70b-versatile'; staticData.groqIndex = i; break;\n  }\n  staticData.groqIndex = i + 1;\n}\nif (aiProvider === 'exhausted') {\n  for (let i = (staticData.geminiIndex||0); i < 4; i++) {\n    if ((staticData.geminiCounts||[0,0,0,0])[i] < config.geminiDailyLimit) {\n      aiKey = config.geminiKeys[i]; aiProvider = 'gemini';\n      aiUrl = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent';\n      aiModel = 'gemini-1.5-flash'; staticData.geminiIndex = i; break;\n    }\n    staticData.geminiIndex = i + 1;\n  }\n}\n\nconst job = $input.item.json;\nif (!job.recruiterEmail || job.empty) return [{ json: { skip: true } }];\n\nlet subject = `Re: Application for ${job.jobTitle} at ${job.company}`;\nlet body = '';\n\nif (aiProvider !== 'exhausted') {\n  const prompt = `Write a VERY SHORT follow-up (50-80 words). Candidate applied 3-5 days ago for ${job.jobTitle} at ${job.company}. Name: ${user.name}. Just check in politely, express continued interest, offer more info. End with Best regards. MAX 80 words.`;\n  try {\n    let content = '';\n    if (aiProvider === 'groq') {\n      const r = await this.helpers.httpRequest({method:'POST',url:aiUrl,headers:{'Authorization':'Bearer '+aiKey,'Content-Type':'application/json'},body:{model:aiModel,messages:[{role:'user',content:prompt}],temperature:0.5,max_tokens:150}});\n      content = r.choices[0].message.content;\n      staticData.groqCounts[staticData.groqIndex]++;\n    } else {\n      const r = await this.helpers.httpRequest({method:'POST',url:aiUrl+'?key='+aiKey,headers:{'Content-Type':'application/json'},body:{contents:[{parts:[{text:prompt}]}],generationConfig:{temperature:0.5,maxOutputTokens:150}}});\n      content = r.candidates[0].content.parts[0].text;\n      staticData.geminiCounts[staticData.geminiIndex]++;\n    }\n    staticData.aiCallsToday++;\n    body = content.trim();\n  } catch(e) {\n    body = `Hi Hiring Team,\n\nI wanted to follow up on my application for ${job.jobTitle}. I remain very interested and happy to provide additional information.\n\nBest regards,\n${user.name}`;\n  }\n} else {\n  body = `Hi Hiring Team,\n\nI wanted to follow up on my application for ${job.jobTitle}. I remain very interested and happy to provide additional information.\n\nBest regards,\n${user.name}`;\n}\nreturn [{ json: { ...job, followUpSubject: subject, followUpBody: body, sendTo: job.recruiterEmail, ccEmail: user.email } }];",
        "mode": "runOnceForEachItem"
      },
      "id": "b585cb52-7c5e-485a-80e0-162cf5f8ecb8",
      "name": "AI: Generate Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        1600
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.sendTo}}",
        "subject": "={{$json.followUpSubject}}",
        "message": "={{$json.followUpBody}}",
        "options": {
          "ccList": "={{$json.ccEmail}}"
        }
      },
      "id": "f3b69810-28ac-40f8-9306-7155f0b12465",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        1600
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "User Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = this.getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\nconst job = $input.item.json;\nif (!staticData.emailsSent) staticData.emailsSent = {};\nif (!staticData.emailsSent[today]) staticData.emailsSent[today] = { count: 0, jobIds: [] };\nstaticData.emailsSent[today].count++;\nif (staticData.discoveredJobs) {\n  const idx = staticData.discoveredJobs.findIndex(j => j.jobId === job.jobId);\n  if (idx >= 0) { staticData.discoveredJobs[idx].followedUp = true; staticData.discoveredJobs[idx].followedUpAt = new Date().toISOString(); }\n}\nreturn [{ json: { ...job, followedUp: true } }];",
        "mode": "runOnceForEachItem"
      },
      "id": "d3a41865-4ba0-4627-81d4-074974d1d277",
      "name": "Mark Follow-up Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const user = { name: 'YOUR_NAME', email: 'your.email@gmail.com' };\nconst items = $input.all();\nconst sent = items.filter(i => i.json.followedUp).length;\nif (sent === 0) return [{ json: { skip: true } }];\nlet body = `Hi ${user.name},\\n\\nFollow-up check-ins sent:\\n\\n`;\nitems.filter(i => i.json.followedUp).forEach((item, i) => { body += `${i+1}. ${item.json.jobTitle} at ${item.json.company}\\n`; });\nbody += `\\nOne-time only. No further follow-ups for these.\\n\\n---\\nAI Jobs Assistant`;\nreturn [{ json: { emailBody: body, emailSubject: `Follow-up: ${sent} Applications Checked In`, sendTo: user.email } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "35b29dbb-565a-4dd4-84d2-88db44dc6146",
      "name": "Follow-up Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        1600
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.sendTo}}",
        "subject": "={{$json.emailSubject}}",
        "message": "={{$json.emailBody}}",
        "options": {}
      },
      "id": "91fdb4fb-d9c2-4e6c-b921-3566b9be389b",
      "name": "Send Follow-up Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1540,
        1600
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BOT_GMAIL_CREDENTIAL",
          "name": "AI Jobs Assistant (Bot)"
        }
      }
    }
  ],
  "connections": {
    "Trigger: 8AM Job Discovery": {
      "main": [
        [
          {
            "node": "Backend Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Config": {
      "main": [
        [
          {
            "node": "User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Profile": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Parse Resume with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume with AI": {
      "main": [
        [
          {
            "node": "AI Key Rotation Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Key Rotation Manager": {
      "main": [
        [
          {
            "node": "Fetch Remotive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Arbeitnow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Himalayas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RemoteJobs.org",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Jobicy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch JSearch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Findwork",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch The Muse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Remotive": {
      "main": [
        [
          {
            "node": "Parse Remotive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Arbeitnow": {
      "main": [
        [
          {
            "node": "Parse Arbeitnow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Himalayas": {
      "main": [
        [
          {
            "node": "Parse Himalayas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RemoteJobs.org": {
      "main": [
        [
          {
            "node": "Parse RemoteJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jobicy": {
      "main": [
        [
          {
            "node": "Parse Jobicy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch JSearch": {
      "main": [
        [
          {
            "node": "Parse JSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Findwork": {
      "main": [
        [
          {
            "node": "Parse Findwork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch The Muse": {
      "main": [
        [
          {
            "node": "Parse The Muse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Remotive": {
      "main": [
        [
          {
            "node": "Merge All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Arbeitnow": {
      "main": [
        [
          {
            "node": "Merge All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Himalayas": {
      "main": [
        [
          {
            "node": "Merge All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RemoteJobs": {
      "main": [
        [
          {
            "node": "Merge All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jobicy": {
      "main": [
        [
          {
            "node": "Merge All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSearch": {
      "main": [
        [
          {
            "node": "Merge All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Findwork": {
      "main": [
        [
          {
            "node": "Merge All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse The Muse": {
      "main": [
        [
          {
            "node": "Merge All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Jobs": {
      "main": [
        [
          {
            "node": "Deduplicate Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate Jobs": {
      "main": [
        [
          {
            "node": "Freshness Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freshness Filter": {
      "main": [
        [
          {
            "node": "AI Score Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Score Jobs": {
      "main": [
        [
          {
            "node": "Categorize Jobs by Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Jobs by Tier": {
      "main": [
        [
          {
            "node": "Skills Gap Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Jobs for Outreach": {
      "main": [
        [
          {
            "node": "Prepare Job Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Job Digest Email": {
      "main": [
        [
          {
            "node": "Send Job Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: 9AM Email Outreach": {
      "main": [
        [
          {
            "node": "Get Jobs for Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs for Outreach": {
      "main": [
        [
          {
            "node": "Check Email Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Limit": {
      "main": [
        [
          {
            "node": "Limit Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Reached?": {
      "main": [
        [
          {
            "node": "Limit Notification Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI: Generate Application Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Generate Application Email": {
      "main": [
        [
          {
            "node": "Send Application Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Application Email": {
      "main": [
        [
          {
            "node": "Track Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track Email Sent": {
      "main": [
        [
          {
            "node": "Outreach Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outreach Summary": {
      "main": [
        [
          {
            "node": "Send Outreach Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Midnight Reset": {
      "main": [
        [
          {
            "node": "Daily Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: 10AM Follow-up": {
      "main": [
        [
          {
            "node": "Get Jobs for Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs for Follow-up": {
      "main": [
        [
          {
            "node": "Check Follow-up Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Follow-up Limit": {
      "main": [
        [
          {
            "node": "AI: Generate Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Generate Follow-up": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up Email": {
      "main": [
        [
          {
            "node": "Mark Follow-up Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Follow-up Sent": {
      "main": [
        [
          {
            "node": "Follow-up Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up Summary": {
      "main": [
        [
          {
            "node": "Send Follow-up Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skills Gap Analysis": {
      "main": [
        [
          {
            "node": "Store Jobs for Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "active": false
}